In [1]:
import pandas as pd
from os import listdir
import psycopg2
from sqlalchemy import create_engine
#pd.set_option('display.max_columns', None)

In [2]:
directory = listdir("./Data/National/2000/")
frame_dict = {}

In [ ]:
directory

In [3]:
subdirectory = 'National'
year = '2000'
for i in directory:
    frame_dict[i[:-4]] = pd.read_csv('./Data/'+subdirectory+'/'+year+'/'+i,low_memory=False)

In [4]:
test_frame = pd.merge(frame_dict['ACCIDENT'],frame_dict['MIACC'], how='inner')

In [5]:
test_frame = pd.merge(test_frame,frame_dict['MIDRVACC'],how='inner')

In [6]:
pd.read_csv('./Data/National/2000/MIDRVACC.CSV')

       ST_CASE  YEAR  A1  A2  A3  A4  A5  A6  A7  A8  A9  A10
0        10001  2000  27  31   0  15  27  10   0   0   0    0
1        10002  2000  20  20  20  20  20  20  20  20  20   20
2        10003  2000   0   0   0   0   0   0   0   0   0    0
3        10004  2000  24  15  11  18  37  15  29  21  21   30
4        10005  2000   0   0   0   0   0   0   0   0   0    0
...        ...   ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...
37428   560128  2000   0   0   0   0   0   0   0   0   0    0
37429   560129  2000   0   0   0   0   0   0   0   0   0    0
37430   560130  2000   0   0   0   0   0  28   0   0   0    0
37431   560131  2000   0   0   0   0   0   0   0   0   0    0
37432   560132  2000   0   0   0   0   0   0   0   0   0    0

[37433 rows x 12 columns]

In [7]:
pd.read_csv('./Data/National/2000/MIACC.CSV')

       ST_CASE  YEAR  A1  A2  A3  A4  A5  A6  A7  A8  A9  A10
0        10001  2000  27  31  15  24  27  28  30  17   0    0
1        10002  2000  20  20  20  20  20  20  20  20  20   20
2        10003  2000   0   0   0   0   0   0   0   0   0    0
3        10004  2000  24  15  11  18  37  15  29  21  21   30
4        10005  2000   0   0   0   0   0   0   0   0   0    0
...        ...   ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...
37521   560128  2000   0   0   0   0   0   0   0   0   0    0
37522   560129  2000   0   0   0   0   0   0   0   0   0    0
37523   560130  2000   0   0   0   0   0  28   0   0   0    0
37524   560131  2000   0   0   0   0   0   0   0   0   0    0
37525   560132  2000  29  29  29  29  29  29  29  29  29   29

[37526 rows x 12 columns]

In [8]:
frame_list = []
for i in range(2000,2021):
    frame_list.append(pd.read_csv('./Data/National/'+str(i)+'/ACCIDENT.CSV',low_memory = False))

In [9]:
all_accident_frame = pd.concat(frame_list)

In [10]:
test_frame

,STATE,COUNTY,MONTH,DAY,HOUR,MINUTE,VE_FORMS,PERSONS,PEDS,NHS,...,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10
0,1,1,1,3,18,35,1,1,0,0,...,20,20,20,20,20,20,20,20,20,20
1,1,73,1,9,8,45,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,21,1,6,3,25,1,1,0,0,...,24,15,11,18,37,15,29,21,21,30
3,1,53,1,4,9,35,3,3,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1,97,1,1,19,15,1,6,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34542,56,21,12,18,17,14,2,3,0,0,...,0,0,0,0,0,0,0,0,0,0
34543,56,1,12,18,12,30,2,1,0,1,...,0,0,0,0,0,0,0,0,0,0
34544,56,27,12,28,11,45,2,11,0,1,...,0,0,0,0,0,0,0,0,0,0
34545,56,37,12,24,13,19,1,10,0,1,...,0,0,0,0,0,28,0,0,0,0
34546,56,21,12,30,15,45,2,3,0,1,...,0,0,0,0,0,0,0,0,0,0

In [11]:
b = lambda x : (x['YEAR']*1000000+x['ST_CASE'])

In [12]:
all_accident_frame = all_accident_frame.assign(PRIMARY_KEY_ACCIDENT = b)

In [13]:
all_accident_frame['HOUR'].sort_values().unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 99], dtype=int64)

In [14]:
all_accident_frame.assign(pd.Timestamp(lambda x: ))

SyntaxError: invalid syntax (<ipython-input-14-7d73208438ab>, line 1)

In [15]:
pd.Timestamp(2000,1,1,None)

Timestamp('2000-01-01 00:00:00')

In [16]:
all_accident_frame[['YEAR','MONTH','DAY','HOUR','MINUTE']].replace(99,None)

       YEAR  MONTH  DAY  HOUR  MINUTE
0      2000      1    1     5      24
1      2000      1    3    18      35
2      2000      1    9     8      45
3      2000      1    6     3      25
4      2000      1    4     9      35
...     ...    ...  ...   ...     ...
35761  2020     12   12    16      36
35762  2020     12   18    18       6
35763  2020     12   11    17      30
35764  2020     12   15    20      21
35765  2020     12   24     9      25

[727614 rows x 5 columns]

In [17]:
def timestamp(row):
    if row['DAY'] <24:
        day = row['DAY']
    else:
        day = 1
    if row['HOUR'] <24:
        hour = row['HOUR']
    else:
        hour = 0
    if row['MINUTE'] <60:
        minute = row ['MINUTE']
    else: 
        minute = 0    
    return pd.Timestamp(row['YEAR'],row['MONTH'],day,hour,minute)

In [18]:
all_accident_frame['TIMESTAMP'] = all_accident_frame.apply(timestamp,axis=1)

In [19]:
all_accident_frame.loc[(all_accident_frame['DAY']==29)&(all_accident_frame['MONTH']==2)]['YEAR'].unique()

array([2000, 2004, 2008, 2012, 2016, 2020], dtype=int64)

In [20]:
all_accident_frame

,STATE,COUNTY,MONTH,DAY,HOUR,MINUTE,VE_FORMS,PERSONS,PEDS,NHS,...,ARR_MINNAME,HOSP_HRNAME,HOSP_MNNAME,CF1NAME,CF2NAME,CF3NAME,COUNTYNAME,CITYNAME,PRIMARY_KEY_ACCIDENT,TIMESTAMP
0,1,117,1,1,5,24,1,5,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000010001,2000-01-01 05:24:00
1,1,1,1,3,18,35,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000010002,2000-01-03 18:35:00
2,1,73,1,9,8,45,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000010003,2000-01-09 08:45:00
3,1,21,1,6,3,25,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000010004,2000-01-06 03:25:00
4,1,53,1,4,9,35,3,3,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000010005,2000-01-04 09:35:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35761,56,21,12,12,16,36,2,2,0,0,...,57,Not Applicable (Not Transported),Not Applicable (Not Transported),NaN,NaN,NaN,LARAMIE (21),NOT APPLICABLE,2020560111,2020-12-12 16:36:00
35762,56,23,12,18,18,6,3,8,0,1,...,19,6:00pm-6:59pm,50,NaN,NaN,NaN,LINCOLN (23),NOT APPLICABLE,2020560112,2020-12-18 18:06:00
35763,56,13,12,11,17,30,3,9,0,0,...,33,Unknown,Unknown EMS Hospital Arrival Time,NaN,NaN,NaN,FREMONT (13),NOT APPLICABLE,2020560113,2020-12-11 17:30:00
35764,56,21,12,15,20,21,2,3,1,1,...,22,Not Applicable (Not Transported),Not Applicable (Not Transported),NaN,NaN,NaN,LARAMIE (21),CHEYENNE,2020560114,2020-12-15 20:21:00
35765,56,31,12,24,9,25,1,2,0,1,...,51,11:00am-11:59am,15,NaN,NaN,NaN,PLATTE (31),NOT APPLICABLE,2020560115,2020-12-01 09:25:00

In [21]:
cols_to_move = ['PRIMARY_KEY_ACCIDENT','TIMESTAMP']
all_accident_frame = all_accident_frame[ cols_to_move + [ col for col in all_accident_frame.columns if col not in cols_to_move ] ]

In [22]:
all_accident_frame['CF1'].unique()

array([ 0., 20., 19., 18.,  3., 14.,  1., 16., 15., 99.,  6.,  4.,  2.,
        5., 21.,  7., 17., 22., 13., 23., 25., 24., 27., 28., 26., 12.,
       31., 30., nan])

In [23]:
all_accident_frame.columns

Index(['PRIMARY_KEY_ACCIDENT', 'TIMESTAMP', 'STATE', 'COUNTY', 'MONTH', 'DAY',
       'HOUR', 'MINUTE', 'VE_FORMS', 'PERSONS',
       ...
       'NOT_MINNAME', 'ARR_HOURNAME', 'ARR_MINNAME', 'HOSP_HRNAME',
       'HOSP_MNNAME', 'CF1NAME', 'CF2NAME', 'CF3NAME', 'COUNTYNAME',
       'CITYNAME'],
      dtype='object', length=108)

In [24]:
change_col_position(['COUNTY','STATE','MONTH'],0,all_accident_frame)

NameError: name 'change_col_position' is not defined

In [ ]:
def change_col_position(colnames,position,dataframe):
    collist = list(dataframe.columns)
    for i in colnames: collist.remove(i)
    for i in reversed(colnames): collist.insert(position,i)
    return dataframe[collist]

In [26]:
param_dic = {
    "host"      : "localhost",
    "database"  : "NHTSA_FARS_NATIONAL",
    "user"      : "postgres",
    "password"  : "admin"
}

In [27]:
def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1) 
    return conn

In [28]:
connect(param_dic)

Connecting to the PostgreSQL database...