In [1]:
import pandas as pd
from os import listdir

In [10]:
directory = listdir("./Data/National/2000/")
frame_dict = {}

In [14]:
directory

['ACCIDENT.CSV',
 'MIACC.CSV',
 'MIDRVACC.CSV',
 'MIPER.CSV',
 'PERSON.CSV',
 'VEHICLE.CSV']

In [28]:
subdirectory = 'National'
year = '2000'
for i in directory:
    frame_dict[i[:-4]] = pd.read_csv('./Data/'+subdirectory+'/'+year+'/'+i,low_memory=False)

In [31]:
pd.merge(frame_dict['ACCIDENT'],frame_dict['MIACC'], how='inner')

0         10001
1         10002
2         10003
3         10004
4         10005
          ...
37521    560128
37522    560129
37523    560130
37524    560131
37525    560132
Name: ST_CASE, Length: 37526, dtype: int64

In [22]:
a = pd.read_csv('./Data/'+subdirectory+'/'+year+'/'+'VEHICLE.CSV',low_memory=False)

In [16]:
pd.read_csv('./Data/'+subdirectory+'/'+year+'/'+'MIACC.CSV')

       ST_CASE  YEAR  A1  A2  A3  A4  A5  A6  A7  A8  A9  A10
0        10001  2000  27  31  15  24  27  28  30  17   0    0
1        10002  2000  20  20  20  20  20  20  20  20  20   20
2        10003  2000   0   0   0   0   0   0   0   0   0    0
3        10004  2000  24  15  11  18  37  15  29  21  21   30
4        10005  2000   0   0   0   0   0   0   0   0   0    0
...        ...   ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...
37521   560128  2000   0   0   0   0   0   0   0   0   0    0
37522   560129  2000   0   0   0   0   0   0   0   0   0    0
37523   560130  2000   0   0   0   0   0  28   0   0   0    0
37524   560131  2000   0   0   0   0   0   0   0   0   0    0
37525   560132  2000  29  29  29  29  29  29  29  29  29   29

[37526 rows x 12 columns]

In [17]:
pd.read_csv('./Data/'+subdirectory+'/'+year+'/'+'MIDRVACC.CSV')

       ST_CASE  YEAR  A1  A2  A3  A4  A5  A6  A7  A8  A9  A10
0        10001  2000  27  31   0  15  27  10   0   0   0    0
1        10002  2000  20  20  20  20  20  20  20  20  20   20
2        10003  2000   0   0   0   0   0   0   0   0   0    0
3        10004  2000  24  15  11  18  37  15  29  21  21   30
4        10005  2000   0   0   0   0   0   0   0   0   0    0
...        ...   ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...
37428   560128  2000   0   0   0   0   0   0   0   0   0    0
37429   560129  2000   0   0   0   0   0   0   0   0   0    0
37430   560130  2000   0   0   0   0   0  28   0   0   0    0
37431   560131  2000   0   0   0   0   0   0   0   0   0    0
37432   560132  2000   0   0   0   0   0   0   0   0   0    0

[37433 rows x 12 columns]

In [27]:
a.loc[a['VIN'] == '999999999999']

,VIN,VIN_1,VIN_2,VIN_3,VIN_4,VIN_5,VIN_6,VIN_7,VIN_8,VIN_9,...,DR_WGT,DR_HGT,LAST_YR,FIRST_YR,DR_ZIP,MONTH,VE_FORMS,HARM_EV,MAN_COLL,HIT_RUN
78,999999999999,9,9,9,9,9,9,9,9,9,...,115.0,68.0,1998.0,1998.0,35771.0,1,2,12,2,0
171,999999999999,9,9,9,9,9,9,9,9,9,...,999.0,999.0,1998.0,1998.0,36340.0,2,1,42,0,0
192,999999999999,9,9,9,9,9,9,9,9,9,...,145.0,67.0,1997.0,1997.0,36875.0,3,1,42,0,0
263,999999999999,9,9,9,9,9,9,9,9,9,...,240.0,72.0,0.0,0.0,35504.0,3,2,24,0,0
348,999999999999,9,9,9,9,9,9,9,9,9,...,999.0,999.0,9999.0,9999.0,99999.0,4,1,8,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56841,999999999999,9,9,9,9,9,9,9,9,9,...,999.0,999.0,9999.0,9999.0,99999.0,7,1,8,0,2
56923,999999999999,9,9,9,9,9,9,9,9,9,...,160.0,72.0,0.0,0.0,53964.0,6,2,12,4,0
56983,999999999999,9,9,9,9,9,9,9,9,9,...,999.0,999.0,9999.0,9999.0,99999.0,8,3,12,2,1
56995,999999999999,9,9,9,9,9,9,9,9,9,...,999.0,999.0,9999.0,9999.0,99999.0,8,1,8,0,2
57491,999999999999,9,9,9,9,9,9,9,9,9,...,999.0,999.0,9999.0,9999.0,99999.0,6,1,8,0,2

In [23]:
a

,VIN,VIN_1,VIN_2,VIN_3,VIN_4,VIN_5,VIN_6,VIN_7,VIN_8,VIN_9,...,DR_WGT,DR_HGT,LAST_YR,FIRST_YR,DR_ZIP,MONTH,VE_FORMS,HARM_EV,MAN_COLL,HIT_RUN
0,WVWRB01G9KW1,W,V,W,R,B,0,1,G,9,...,140.0,63.0,1998.0,1998.0,35242.0,1,1,8,0,2
1,1G3AR69A6EM4,1,G,3,A,R,6,9,A,6,...,999.0,999.0,1997.0,1997.0,36750.0,1,1,34,0,0
2,1FAPP9591KW2,1,F,A,P,P,9,5,9,1,...,181.0,64.0,0.0,0.0,35206.0,1,1,42,0,0
3,1FTBR10A8HUA,1,F,T,B,R,1,0,A,8,...,121.0,63.0,1998.0,1997.0,36750.0,1,1,34,0,0
4,1GTDK14H7JZ5,1,G,T,D,K,1,4,H,7,...,999.0,62.0,0.0,0.0,32535.0,1,3,12,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57589,1GCCT14Z1N81,1,G,C,C,T,1,4,Z,1,...,190.0,70.0,1998.0,1998.0,57754.0,12,2,12,4,0
57590,1FBSS31S6WHA,1,F,B,S,S,3,1,S,6,...,999.0,65.0,0.0,0.0,82501.0,12,1,24,0,0
57591,1GCCS14X4VK1,1,G,C,C,S,1,4,X,4,...,999.0,68.0,0.0,0.0,28412.0,12,2,12,2,0
57592,1G2NF52T5YC5,1,G,2,N,F,5,2,T,5,...,999.0,999.0,9999.0,9999.0,80525.0,12,2,12,2,0
57593,1G3AJ19X9GD3,1,G,3,A,J,1,9,X,9,...,185.0,69.0,0.0,0.0,82501.0,12,1,8,0,0