In [1]:
import pandas as pd
import os
import psycopg2
from sqlalchemy import create_engine
import string
import time
pd.set_option('display.max_columns', None)

In [2]:
def add_to_database(dataframe,table,con_engine):
    try:
        #this will fail if there is a new column
        dataframe.to_sql(name=table, con=con_engine, if_exists = 'append', index=False)#,method ='psql_insert_copy' )
    except:
        data = pd.read_sql('SELECT * FROM '+table, con_engine)
        df2 = pd.concat([data,dataframe])
        df2.to_sql(name=table, con=con_engine, if_exists = 'replace', index=False)#,method = 'psql_insert_copy')

In [3]:
def get_filepaths(subpath='National'):
    filepaths = []
    for root,dirs,files in os.walk('./Data/'+subpath+'/',topdown=False):
        for name in files:
            filepaths.append(os.path.join(root,name))
    return filepaths

In [4]:
def timestamp(row):
    if row['DAY'] <24:
        day = row['DAY']
    else:
        day = 1
    if row['HOUR'] <24:
        hour = row['HOUR']
    else:
        hour = 0
    if row['MINUTE'] <60:
        minute = row ['MINUTE']
    else: 
        minute = 0    
    return pd.Timestamp(row['YEAR'],row['MONTH'],day,hour,minute)

In [5]:
def change_col_position(colnames,position,dataframe):
    collist = list(dataframe.columns)
    for i in colnames: collist.remove(i)
    for i in reversed(colnames): collist.insert(position,i)
    return dataframe[collist]

In [6]:
def primarykey(pk_df,information):
    if information[1] == 'ACCIDENT':
        pk_df['TIMESTAMP']= pk_df.apply(timestamp,axis = 1)
    if 'ST_CASE' in pk_df.columns:
        front_part = information[0]*1000000
        pk_df['PRIMARY_KEY_CASE'] = pk_df['ST_CASE']+front_part
        pk_df = change_col_position(['PRIMARY_KEY_CASE'],0,pk_df)
        
        
    return pk_df

In [7]:
engine = create_engine("postgresql+psycopg2://postgres:admin@localhost/NHTSA_FARS_NATIONAL")
engine.connect()

In [8]:
paths = get_filepaths()
for i in paths:
    df = pd.read_csv(i,low_memory = False,encoding='latin_1')
    information = i.split('/')[-1].split("\\")
    information[0] = int(information[0])
    information[1] = information[1].split(".")[0].lower()

    df = primarykey(df,information)
    print("Adding "+information[1] +" in year "+str(information[0]))
    start_time = time.time()
    add_to_database(df,information[1],engine)
    print((time.time() - start_time))

Adding accident in year 2000

ValueError: Invalid parameter `method`: psql_insert_copy

Adding accident in year 2000
4.788406848907471
Adding miacc in year 2000
2.0446083545684814
Adding midrvacc in year 2000
2.008049726486206
Adding miper in year 2000
3.6068992614746094
Adding person in year 2000
18.364952325820923
Adding vehicle in year 2000
13.238425731658936
Adding accident in year 2001
11.263409614562988
Adding miacc in year 2001
4.394639492034912
Adding midrvacc in year 2001
1.9386687278747559
Adding miper in year 2001
8.221723794937134
Adding person in year 2001
40.42179560661316
Adding vehicle in year 2001
13.034534692764282
Adding accident in year 2002
4.853909015655518
Adding miacc in year 2002
1.9559414386749268
Adding midrvacc in year 2002
1.9542419910430908
Adding miper in year 2002
3.5965492725372314
Adding person in year 2002
18.461573839187622
Adding vehicle in year 2002
13.036194086074829
Adding accident in year 2003
4.904508352279663
Adding miacc in year 2003
2.0425915718078613
Adding midrvacc in year 2003
1.9219975471496582
Adding miper in year 2003
3.6102066040039062
Adding person in year 2003
18.384536266326904
Adding vehicle in year 2003
13.259825229644775
Adding accident in year 2004
28.443621397018433
Adding miacc in year 2004
1.9854254722595215
Adding midrvacc in year 2004
2.02498197555542
Adding miper in year 2004
3.640643835067749
Adding person in year 2004
18.282089233398438
Adding vehicle in year 2004
77.27361917495728
Adding accident in year 2005
34.79291844367981
Adding miacc in year 2005
2.0081117153167725
Adding midrvacc in year 2005
2.10752272605896
Adding miper in year 2005
3.6705431938171387
Adding person in year 2005
18.516031980514526
Adding vehicle in year 2005
94.42842149734497
Adding vehnit in year 2005
0.3709988594055176
Adding accident in year 2006
5.3080360889434814
Adding miacc in year 2006
1.890171766281128
Adding midrvacc in year 2006
1.9275968074798584
Adding miper in year 2006
3.4430019855499268
Adding person in year 2006
17.913668155670166
Adding vehicle in year 2006
14.233489513397217
Adding vehnit in year 2006
0.3619990348815918
Adding accident in year 2007
46.907572984695435
Adding miacc in year 2007
1.8263981342315674
Adding midrvacc in year 2007
1.8274238109588623
Adding miper in year 2007
3.369466543197632
Adding person in year 2007
17.15601873397827
Adding vehicle in year 2007
131.9286024570465
Adding vehnit in year 2007
1.4630513191223145
Adding accident in year 2008
4.933365345001221
Adding miacc in year 2008
1.6796119213104248
Adding midrvacc in year 2008
1.6791067123413086
Adding miper in year 2008
3.0766003131866455
Adding person in year 2008
15.600688934326172
Adding vehicle in year 2008
13.2257559299469
Adding vehnit in year 2008
0.3449974060058594
Adding accident in year 2009
59.69526195526123
Adding miacc in year 2009
1.5236215591430664
Adding midrvacc in year 2009
1.5581181049346924
Adding miper in year 2009
2.7718873023986816
Adding person in year 2009
205.39729046821594
Adding vehicle in year 2009
170.49385499954224
Adding vehnit in year 2009
2.632225513458252
Adding accident in year 2010
67.94918727874756
Adding cevent in year 2010
3.815209150314331
Adding distract in year 2010
1.2004060745239258
Adding drimpair in year 2010
1.256249189376831
Adding factor in year 2010
1.1768097877502441
Adding maneuver in year 2010
1.2035706043243408
Adding miacc in year 2010
1.5547614097595215
Adding midrvacc in year 2010
1.5140860080718994
Adding miper in year 2010
2.6878745555877686
Adding nmcrash in year 2010
0.27900028228759766
Adding nmimpair in year 2010
0.20782899856567383
Adding nmprior in year 2010
0.24915313720703125
Adding parkwork in year 2010
0.21901869773864746
Adding person in year 2010
238.79760599136353
Adding safetyeq in year 2010
0.21176457405090332
Adding vehicle in year 2010
209.4447159767151
Adding vevent in year 2010
5.748176097869873
Adding violatn in year 2010
1.2833237648010254
Adding vision in year 2010
1.2507412433624268
Adding vsoe in year 2010
4.06686544418335
Adding accident in year 2011
74.26453852653503
Adding cevent in year 2011
3.7923202514648438
Adding distract in year 2011
1.1214468479156494
Adding drimpair in year 2011
1.165212869644165
Adding factor in year 2011
1.1552627086639404
Adding maneuver in year 2011
1.144897699356079
Adding miacc in year 2011
1.456056833267212
Adding midrvacc in year 2011
1.4634730815887451
Adding miper in year 2011
2.6601874828338623
Adding nmcrash in year 2011
0.2828547954559326
Adding nmimpair in year 2011
0.2460002899169922
Adding nmprior in year 2011
0.2549586296081543
Adding parkwork in year 2011
0.6728081703186035
Adding person in year 2011
279.60780668258667
Adding safetyeq in year 2011
0.29355931282043457
Adding vehicle in year 2011

Adding accident in year 2000
91.4037697315216
Adding miacc in year 2000
6.955111980438232
Adding midrvacc in year 2000
6.9101245403289795
Adding miper in year 2000
13.396754741668701
Adding person in year 2000